In [4]:
import pandas as pd 
import numpy as np

In [5]:
# Load the CSV file using pandas
data = pd.read_csv('F:\\CS 325 Data Mining\\Datasets\\archive\\Heart.csv')
data.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [6]:
report = data.describe()

In [7]:
print(report)

              Age         Sex      RestBP        Chol         Fbs     RestECG  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.438944    0.679868  131.689769  246.693069    0.148515    0.990099
std      9.038662    0.467299   17.599748   51.776918    0.356198    0.994971
min     29.000000    0.000000   94.000000  126.000000    0.000000    0.000000
25%     48.000000    0.000000  120.000000  211.000000    0.000000    0.000000
50%     56.000000    1.000000  130.000000  241.000000    0.000000    1.000000
75%     61.000000    1.000000  140.000000  275.000000    0.000000    2.000000
max     77.000000    1.000000  200.000000  564.000000    1.000000    2.000000

            MaxHR       ExAng     Oldpeak       Slope          Ca
count  303.000000  303.000000  303.000000  303.000000  299.000000
mean   149.607261    0.326733    1.039604    1.600660    0.672241
std     22.875003    0.469794    1.161075    0.616226    0.937438
min     71.000000    0.000000    0.000000    1.000000    0.000000
25%    133.500000    0.000000    0.000000    1.000000    0.000000
50%    153.000000    0.000000    0.800000    2.000000    0.000000
75%    166.000000    1.000000    1.600000    2.000000    1.000000
max    202.000000    1.000000    6.200000    3.000000    3.000000

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        303 non-null    int64
 1   Sex        303 non-null    int64
 2   ChestPain  303 non-null    object
 3   RestBP     303 non-null    int64
 4   Chol       303 non-null    int64
 5   Fbs        303 non-null    int64
 6   RestECG    303 non-null    int64
 7   MaxHR      303 non-null    int64
 8   ExAng      303 non-null    int64
 9   Oldpeak    303 non-null    float64
 10  Slope      303 non-null    int64
 11  Ca         299 non-null    float64
 12  Thal       301 non-null    object
 13  AHD        303 non-null    object
dtypes: float64(2), int64(9), object(3)
memory usage: 33.3+ KB