In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns, numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from matplotlib import pyplot
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_classification

In [4]:
#NaiveBayes
df = pd.read_csv('D:\\CS 325 Data Mining\\Datasets\\archive\\Heart.csv')
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [11]:
X= df.iloc[:,1:14]
Y= df.iloc[:,-1]
df['ChestPain'].replace(['typical', 'nontypical', 'nonanginal', 'asymptomatic'], [1,2,3,4], inplace=True)
df['Thal'].replace(['normal', 'fixed', 'reversable'], [1,2,3], inplace=True)
df['AHD'].replace(['No', 'Yes'], [0,1], inplace=True)
df.replace('NA', np.nan, inplace = True)
df.replace(' ', np.nan, inplace = True)
df.dropna( inplace = True, how = 'any')
df = df[df.Thal != '.']
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,2,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,1,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,3,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,1,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,1,0

In [12]:
df.replace('NA', np.nan, inplace = True)
df.replace(' ', np.nan, inplace = True)
df.dropna( inplace = True, how = 'any')
df = df[df.Age != '.']
#df = df[df.column_name != value]
#Y to class to predict
#assign best features columns
X = df[ ["Ca", "Oldpeak", "MaxHR"] ].loc[ df["AHD"] == "1"]
y = df["Age"].loc[ df["AHD"] == "1" ]

In [13]:
df.value_counts()

Age  Sex  ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  Slope  Ca   Thal  AHD
29   1    2          130     204   0    2        202    0      0.0      1      0.0  1     0      1
59   1    4          164     176   1    2        90     0      1.0      2      2.0  2     1      1
                     138     271   0    2        182    0      0.0      1      0.0  1     0      1
                     135     234   0    0        161    0      0.5      2      0.0  3     0      1
                     110     239   0    2        142    1      1.2      2      1.0  3     1      1
                                                                                                ..
51   1    3          110     175   0    0        123    0      0.6      1      0.0  1     0      1
                     100     222   0    0        143    1      1.2      2      0.0  1     0      1
                     94      227   0    0        154    1      0.0      1      1.0  3     0      1
          1          125     213   0    2        125    1      1.4      1      1.0  1     0      1
77   1    4          125     304   0    2        162    1      0.0      1      3.0  1     1      1
Length: 297, dtype: int64

In [14]:
X= df[['Ca', 'AHD', 'MaxHR']]
Y= df[['AHD']]

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.4,random_state=100)

In [16]:
gaus = GaussianNB()
gaus.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [17]:
y.value_counts()

Series([], Name: Age, dtype: int64)

In [18]:
y_pred = gaus.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        65
           1       1.00      1.00      1.00        54

    accuracy                           1.00       119
   macro avg       1.00      1.00      1.00       119
weighted avg       1.00      1.00      1.00       119